<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
    <div class="search" style="margin-top: 20px; margin-bottom:20px">
        <input type="text" name="search" class="form-control" id="search" placeholder="Nhập phim gì đó?">
        <button class="btn" style="font-size: large; background-color: #708090" onclick="search()">Tìm kiếm</button>
    </div>
    <div class="list">
        {{#each films}}
        <li class="list-group-item" style="display: flex">
            <p style="text-align: left; font-size: 15px">{{this.name}}</p>
            <a style=" margin-left: auto; " href="" data-toggle="modal" data-target="#exampleModal"
                data-id="{{this._id}}">Xóa</a>
        </li>
        {{/each}}
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chắc chắn xóa?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn muốn xóa phim này?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                    <button type="button" class="btn btn-primary">Xóa bỏ</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        $('#exampleModal').on('show.bs.modal', function (event) {
            console.log(2)
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            console.log(id)
        })
    })
    function search() {

        //        console.log(data)
        $.ajax({
            url: '/delete',
            type: 'POST'
        })
            .then(films => {
                document.querySelector('.list').innerHTML = '';
                var data = document.querySelector('#search').value;
                var check = true;
                for (var film of films) {
                    if (film.name.toLowerCase().includes(data.toLowerCase())) {
                        document.querySelector('.list').innerHTML += `<li style="display: flex" class="list-group-item">
            <p style="text-align: left;font-size: 15px;">${film.name}</p>
            <a style="margin-left: auto;" href="/delete/${film.id}" data-toggle="modal"
                data-target="#exampleModal">Xóa</a>
        </li>`
                        check = false;
                    }
                }
                if (check) {
                    document.querySelector('.list').innerHTML = `<h3><b>Không tìm thấy !</h3>`
                }
            })
    }
</script>